* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Alata", sans-serif;
  text-decoration: none;
  overflow-x: hidden;
}
/* home page  */
main {
  background-image: url("./images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
}
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 3rem;
}
.nav-items {
  display: flex;
  min-width: 50%;
  max-width: 1274px;
  justify-content: space-evenly;
  margin-right: 0rem;
  color: white;
}
.nav-items a{
  color: white;

}
.overlay {
  display: none;
}
.bl {
  display: inline;
}
.burger {
  display: none;
}
.img-container {
  margin-left: 7rem;
}
.hero-paragraph {
  position: relative;
  top: 20%;
  left: 9%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  max-width: 40rem;
  font-size: 4.5rem;
  width: 50%;
  text-transform: uppercase;
  color: white;
  outline: 2px solid white;
  padding: 2rem;
}
/* about page  */
.about-page {
  position: relative;
}
.about-page img {
  padding: 10rem;
}
.text-container {
  position: absolute;
  top: 22rem;
  right: -1rem;
  width: 45%;
  background-color: white;
  padding: 5rem;
}
.text-container h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 3rem;
}
.text-container p {
  margin-top: 2rem;
  color: grey;
}
/* our  creation  */
.heading-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 7rem;
}
.heading-container h1 {
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.heading-container button {
  background: inherit;
  text-transform: uppercase;
  border: 2px solid gray;
  padding: 0.7rem 3rem;
  height: 19%;
  cursor: pointer;
  letter-spacing: 5px;
}
.image-gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 6rem;
}
.box {
  height: 400px;
  width: 250px;
  margin: 0.5rem;
  position: relative;
}
.box p {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  padding: 2.9rem;
}
.over {
  background-color: white;
  z-index: 20;
}
.box:hover {
  background-color: white;
  z-index: 2;
}
.deep-earth {
  background-image: url("./images/desktop/image-deep-earth.jpg");
}
.night-arcade {
  background-image: url("./images/desktop/image-night-arcade.jpg");
}
.soccer-team {
  background-image: url("./images/desktop/image-soccer-team.jpg");
}
.the-grid {
  background-image: url("./images/desktop/image-grid.jpg");
}
.from-above {
  background-image: url("./images/desktop/image-from-above.jpg");
}
.pocket-borealis {
  background-image: url("./images/desktop/image-pocket-borealis.jpg");
}
.curiosity {
  background-image: url("./images/desktop/image-curiosity.jpg");
}
.fisheye {
  background-image: url("./images/desktop/image-fisheye.jpg");
}
/* footer  */
footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 4rem 6rem;
}
.footer-links img {
  padding: 1rem;
}
.footer-links {
  width: 50%;
  height: 100%;

}

.links a {
  margin-top: -1.3rem;
  padding: 0 0.5rem;
  height: 100%;
  color: white;
}
.social img {
  padding: 0.6rem;
  float: right;
}
.social-container {
  width: 23%;
}
.social-container p {
  float: left;
}
@media screen and (max-width: 886px) {
  .hero-paragraph {
    font-size: 2rem;
    padding: 1rem;
  }
}
@media screen and (max-width: 1034px) {
  .about-page {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .about-page img {
    margin: 2rem;
    padding: 0;
    width: 80%;
  }
  .text-container {
    text-align: center;
    margin: 2rem;
    padding: 0;
    position: relative;
    left: 0;
    top: 0;
    width: 80%;
  }
  .text-container h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 460px) {
  .hero-paragraph {
    font-size: 1.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}
@media screen and (max-width: 458px) {
  .img-container {
    margin: 0;
  }
}
@media screen and (max-width: 628px) {
  .heading-container h1 {
    font-size: 2rem;
  }
  .image-gallery {
    margin: 0;
    padding: 0;
  }
  .box {
    height: auto;
    padding: 0;
    margin: 0;
  }
  .box p {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 40%;
    left: 0;
    color: white;
  }
  .deep-earth {
    background-image: url("./images/mobile/image-deep-earth.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
  }
  .night-arcade {
    background-image: url("./images/mobile/image-night-arcade.jpg");
    background-size: cover;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .soccer-team {
    background-image: url("./images/mobile/image-soccer-team.jpg");
    background-size: cover;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .the-grid {
    background-image: url("./images/mobile/image-grid.jpg");
    background-size: cover;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .from-above {
    background-image: url("./images/mobile/image-from-above.jpg");
    background-size: cover;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .pocket-borealis {
    background-image: url("./images/mobile/image-pocket-borealis.jpg");
    background-size: cover;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .curiosity {
    background-image: url("./images/mobile/image-curiosity.jpg");
    background-size: cover;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .fisheye {
    background-image: url("./images/mobile/image-fisheye.jpg");
    background-size: cover;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 60vh;
  }
  .footer-links {
    margin: 0;
    padding: 0;
    min-width: 100%;
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
    width: 50%;
  }
}
@media screen and (max-width: 628px) {
  .nav-items {
    display: none;
  }
  .burger {
    display: inline;
    margin: 0 2rem;
    cursor: pointer;
  }
  .heading-container button {
    display: none;
  }
  .overlay {
    position: absolute;

    background-color: black;
    width: 100%;
    height: 85vh;
    z-index: 1;
  }
  .overlay-images {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .overlay-text {
    color: white;
    padding: 3rem 1rem;
  }
  .overlay-text p {
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
  }
}
@media screen and (max-width: 530px) {
  .box p {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 15%;
    left: 0;
    color: white;
  }
}
